nav {
    display:flex;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    height: 100vh;
    padding: 40px 10%;
}
nav ul {
    position: fixed;
    z-index: 1;
}

nav ul li {
    list-style-type: none;
    display: block;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

nav ul li a {
    font-family: 'Kanit';
    color: #FFF7DE;
    text-decoration: none;
    font-size: 28px;
    font-weight: 600;
    border-right: 3px solid rgba(0, 0, 0, 0);
    padding-right: 10px;
    line-height: 42px;
    list-style: normal;
    opacity: .6;
    transition: 0.3s;

}

nav ul li a:hover,
nav ul li a:active {
    color: #eb6864;
    border-right: 3px solid #eb6864;
    opacity: 1;
}