.about {
    width: 90%;
    margin: 0 auto 6em;
}

.about p {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px;
    word-spacing: 1.6px;
    padding:  8px;
}

.heading {
    font-family: 'Kanit';
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 87%;
    padding: 8px;
    margin: 20px 0;
}