.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Kanit';
    text-transform: uppercase;
    width: 90%;
    height: 100vh;
}

.heading {
    font-family: 'Kanit'; 
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 87%;
    padding: 8px;
    margin-top: 10rem;
}

.about p {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px;
    word-spacing: 1.6px;
    padding:  8px;
}

