.home {
    position: relative;
    display: flex;
    font-family: 'Kanit';
    text-transform: uppercase;
    height: 90vh;
}

.heading-primary {
    position: relative;
    width: 80%;
    margin: auto;
    justify-content: center;
}
.heading-primary--main {
    position: relative;
    font-family: inherit;
    font-style: normal;
    font-weight: 900;
    font-size: 82px;
    letter-spacing: 0.10cm;
    line-height: 87%;
    text-align: left;
    vertical-align: top;
    width: 100%;
    padding: 5px;
    margin: 0%;
}

.heading-primary--main strong {
    color: #eb6864;
}

.heading-primary--sub {
    position: relative;
    font-family: 'Kanit';
    font-style: normal;
    text-align: left;
    font-weight: 600;
    font-size: 32px;
    line-height: 106%;
    letter-spacing: 0.29em;
    padding: 5px;
    margin-bottom: 40px;
    width: 100%;
}



.home__img-logos {
    position: absolute;
    right: 0;
    bottom: 0;
    display:flex;
    align-items: center;
    text-align: right;
    flex-direction: column;
    justify-content: flex-end;
    font-size:30px;
    text-decoration: none;
}

.fa-linkedin {
    color: #202030;
    background-color: #FFF7DE;
    border-radius: 4px;
    padding: 1px 1px;
    margin-bottom: 10px;
}

.fa-github {
    color: #FFF7DE;
}

.fa-github:hover,
.fa-github:active {
    color: #eb6864;
}
.fa-linkedin:hover,
.fa-linkedin:active {
    background-color: #eb6864;
}



.home__resume {
    cursor: pointer;
    text-align: center;
    width: 100%;
    border: 3px solid #FFF7DE;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    padding: 8px 16px;
    margin: 0 auto;
}

.home__resume:hover {
    transition: 0.2s;
    color: #eb6864;
    border: 3px solid #eb6864;
}