.home {
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Kanit';
    text-transform: uppercase;
    width: 65%;
    height: 100vh;
}

.heading-primary {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    width: 65%;
    margin: auto;
    justify-items: self-start;
}
.heading-primary span:first-child {
    grid-row: 1/2;
    grid-column: 1/3;
}
.heading-primary span:nth-child(2) {
    grid-row: 2/3;
    grid-column: 1/2;
}
.heading-primary span:nth-child(3) {
    grid-row: 3/4;
    grid-column: 1/2;
}
.heading-primary span:nth-child(4) {
    height: 100%;
    padding: 1rem 5px 1.6rem 0;
    grid-row: 2/4;
    grid-column: 2/3;
}
.heading-primary div {
    grid-row: 4/5;
    grid-column: 1/3;
}

.heading-primary .heading-primary--main {
    font-family: inherit;
    font-style: normal;
    font-weight: 900;
    font-size: 82px;
    letter-spacing: 0.10cm;
    line-height: 87%;
    text-align: left;
    vertical-align: top;
    justify-self: start;
    width: 100%;
    padding: 5px;
    margin: 0%;
}

.emp {
    color: #eb6864;
}

.heading-primary--sub {
    font-family: 'Kanit';
    font-style: normal;
    text-align: left;
    font-weight: 600;
    font-size: 32px;
    justify-self: start;
    line-height: 106%;
    letter-spacing: 0.29em;
    padding: 5px;
    width: 100%;
}

.home__img-logos {
    display:grid;
    justify-self: right;
    align-content: space-between;
    flex-direction: column;
    justify-content: flex-end;
    font-size:30px;
    text-decoration: none;
}

fa-icon {
    font-size: 35px;
    color: #FFF7DE;
}

.fa-linkedin {
    color: #202030;
    background-color: #FFF7DE;
    border-radius: 4px;
    padding: 1px 4px;
}

.fa-github {
    font-size: 38px;
    color: #FFF7DE;
}

fa-icon:hover,
fa-icon:hover {
    color: #eb6864;
}

.fa-github:hover,
.fa-github:active {
    color: #eb6864;
}

.fa-linkedin:hover,
.fa-linkedin:active {
    background-color: #eb6864;
}

.facebook {
    color: #FFF7DE;
}

.home__resume {
    cursor: pointer;
    text-align: center;
    width: 100%;
    border: 3px solid #FFF7DE;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    padding: 8px 16px;
    margin: 0 auto;
}

.home__resume:hover {
    transition: 0.2s;
    color: #eb6864;
    border: 3px solid #eb6864;
}

@media (min-width: 640px) {
    .heading-primary span:nth-child(4) {
        height: 100%;
        padding: .8rem 5px 1.6rem 0;
    }
    
    .heading-primary .heading-primary--main {
        font-size: 90px;
        letter-spacing: 0.20cm;
        padding: 0 5px 10px;
    }

    .heading-primary--sub {
        font-size: 38px;
        padding: 5px;
    }

    .home__img-logos {
        font-size:40px;
    }

    .fa-github {
        font-size: 48px;
    }
    fa-icon {
        font-size: 42px;
    }
}

@media (min-width: 768px) {
    .home {
        justify-content: end;
        align-items: center;
    }

    .heading-primary {
        margin-right: 10%;
        padding: 5px;
    }

    .heading-primary .heading-primary--main {
        font-size: 90px;
        letter-spacing: 0.20cm;
        padding: 0 5px 10px;
    }

    .heading-primary--sub {
        font-size: 38px;
        padding: 5px;
    }

    .home__img-logos {
        font-size:40px;
    }

    .fa-github {
        font-size: 48px;
    }

    fa-icon {
        font-size: 42px;
    }
}

@media (min-width: 1024px) {
    .heading-primary span:nth-child(4) {
        height: 100%;
        padding: 1.1rem 5px 2.1rem 0;
    }

    .heading-primary .heading-primary--main {
        font-size: 105px;
        letter-spacing: 0.30cm;
        padding: 0 15px 10px;
    }

    .heading-primary--sub {
        font-size: 48px;
        padding: 15px;
    }

    .home__img-logos {
        font-size:50px;
    }

    .fa-github {
        font-size: 58px;
    }

    fa-icon {
        font-size: 52px;
    }

}