<section class="home">
    <div class="heading-primary">
        <span>
            <h1 class="heading-primary--main">Jayson</h1>
        </span>
        <span>
            <h1 class="heading-primary--main emp">Aviso</h1>
        </span>
        <span>
            <h2 class="heading-primary--sub">
                Back-End<br> Developer
            </h2>
        </span>
        <span class="home__img-logos">
            <a href="https://www.linkedin.com/in/jayson-aviso-86449a193/" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/jaysonAviso" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://www.facebook.com/aviso.jayson" target="_blank"><fa-icon [icon]="faFaceBook"></fa-icon></a>
        </span>
        
        <a class="home__resume" href="./assets/Jayson-A-Resume.docx" target="_blank" download="Jayson-A-Resume.docx">Download Resume</a>
    </div>
</section>
