<section class="home">
    <div class="heading-primary">
        <h1 class="heading-primary--main">
            Jayson <strong>Aviso</strong>
        </h1>
        <h2 class="heading-primary--sub">
            Back-End Developer
            <span class="home__img-logos">
                <a href=""><i class="fa fa-linkedin"></i></a>
                <a href=""><i class="fa fa-github"></i></a>
            </span>
        </h2>
        <div class="home__resume">Download Resume</div>
    </div>
</section>
