.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Kanit';
    text-transform: uppercase;
    width: 90%;
    height: 100vh;
    
}
/* margin: 0 auto 6em; */
.heading {
    font-family: 'Kanit';
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.8px;
    word-spacing: 1.6px;
    font-size: 46px;
    line-height: 87%;
    padding: 8px;
    margin-top: 10rem;
}
/* .heading {
    font-family: 'Kanit';
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    letter-spacing: 0.8px;
    word-spacing: 1.6px;
    line-height: 87%;
    padding: 8px;
    margin-bottom: 10px;
} */
input,
textarea {
    background: #FFF7DE;;
}
form {
    width: 100%;
}
.form-group {
    width: 100%;
    margin: 0 auto 30px;
    padding: 8px;
}

.form-group h3 {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1.6px;
    text-align: left;
    text-transform: uppercase;
    color: #FFF7DE;
}

.next {
    font-family: 'Kanit';
    font-weight: 600;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    box-sizing: border-box;
    width: 123px;
    height: 40px;
    color: #FFF7DE;
    border: 3px solid #FFF7DE;
}

.next:hover {
    color: #eb6864;
    border: 3px solid #eb6864;
}

