<!-- <header class="main-header">
    <div><img src="./assets/JA.png" alt="Logo" class="main-header__brand"></div>
</header> -->
<mat-sidenav-container>
    <mat-sidenav #sidebar mode="side" opened>
        sidebar area
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <div class="toolbar">
                <mat-toolbar>
                    <button class="btn" (click)="sidebar.toggle()"> <i class="fa fa-bars fa-lg"></i></button>
                </mat-toolbar>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

