<section class="projects">
    <h1 class="heading">Projects</h1>
    <div class="project">
        <h3 class="project-name">Project Name</h3>
        <div class="project-img">
            <img src="" alt="">
            <div class="button-group">
                <a href="#" class="btn btn--white btn--animated">Visit Site</a>
                <a href="#" class="btn btn--white btn--animated">Source Code</a>
            </div>
        </div>
        <div class="project-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae repudiandae magni numquam deserunt hic cupiditate unde neque, eligendi dicta id, atque ea rem iste consequuntur autem placeat est eaque alias.</div>
    </div>
</section>
