<section class="projects">
    <h1 class="heading">Projects</h1>
    <div class="project" *ngFor="let project of projectsData">
        <h3 class="project-name">{{project.name}}</h3>
        <div class="project-img">
            <img src="{{project.img}}" alt="{{project.name}}">
            <div class="button-group">
                <a href="{{project.webUrl}}" target="_blank" class="btn btn--white btn--animated">Visit Site</a>
                <a href="{{project.sourceCode}}" target="_blank" class="btn btn--white btn--animated">Source Code</a>
            </div>
        </div>
        <div class="project-content">{{project.content}}</div>
    </div>
</section>
